body{
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}
main{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 100%);
  width: 6000px;
  height: 500px;
}
img{
  position: absolute;
}
#ground{
  bottom:0;
  z-index: 5;
}
#perso{
  bottom: 10px;
  z-index: 4;
}
#case{
  bottom:0;
  z-index: 3;
}
#arbre{
  z-index: 2;
  bottom: 10px
}
#background{
  z-index: 1;
  bottom:0;
}
#sunbox{
  position:fixed;
  width: 100px;
  height: 100px;
  top: 80%;
  left: 50%;
  margin-top: -50px; /* Negative half of height. */
  margin-left: -50px; /* Negative half of width. */
}
#sun{
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
  position: absolute;
  right:500px;
}
.plank{
  top:20%;
  position: fixed;
  width:300px;
  height: 150px;
  background: red;
  z-index: 999999;
}
