/* First page */


#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* perspective: 1000px; */
}

#linkKirikou {
  position: relative;

}
#linkKirikou a {
display: block;
top: 0;
left: 0;

}
#image {
  position: absolute;
  width: 106%;
  height: 106%;
  z-index: 2;
  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  background: url("../img/feuille.png") no-repeat center center;
  background-size: cover;
  transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
}


#image2 {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-transform: scale(0.4);
  transform: scale(0.4); */
  background: url("../img/kiriri.png") no-repeat center center;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-size: cover; */
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}



.agrand{
  animation: scale 3s;
  animation-fill-mode: forwards
}
  @keyframes scale {
    0% { 
      transform: scale(1);
      opacity: 1 ; 
      }
    100% {
      transform: scale(5) ; 
      opacity: 0;
    }
  }


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 10;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #FDF3E8;
}
main{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 100%);
  width: 6000px;
  height: 500px;
}
img{
  position: absolute;
}
#ground{
  bottom:0;
  z-index: 5;
}
#perso{
  bottom: 10px;
  z-index: 4;
}
#case{
  bottom:0;
  z-index: 3;
}
#arbre{
  z-index: 2;
  bottom: 10px
}
#background{
  z-index: 1;
  bottom:0;
}
#sunbox{
  position:fixed;
  width: 100px;
  height: 100px;
  top: 80%;
  left: 50%;
  margin-top: -50px; /* Negative half of height. */
  margin-left: -50px; /* Negative half of width. */
}
#sun{
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
  position: absolute;
  right:500px;
  -webkit-box-shadow: 0px 0px 125px 69px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 125px 69px rgba(255,255,255,1);
  box-shadow: 0px 0px 125px 69px rgba(255,255,255,1);
}

.kirikou{
  position:fixed;
  bottom:250px;
  left:0px;
  z-index:99;
}
.KirikouImgStop{
  margin-top: -175px;
  margin-left: -20px;
  width: 160px;
}
.KirikouImgRun{
  width: 100px;
  /* margin-left: -25px; */
}


.plank{
  top:20%;
  position: absolute;
  width:429px;
  height: 209px;
  background-image: url("../img/plank.png");
  z-index: 999999;
  padding: 0px 50px;
  box-sizing: border-box;
  text-align: center;
}




/* Menu */


.fetish{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 45;
}

.eyes{
  position: absolute;
  top: 2.5%;
  left: 94.45%;
  width: 100px;
  z-index: 2;
}

.watcher{
  position: absolute;
  top: -8.15%;
  left: 89%;
  /* width: 0px; */
}
 img{
  transform: scale(0.35)
}

.eye{
  width: 30px;
  height: 30px;
  background: rgb(252, 82, 82);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  border-radius: 50%;
  will-change: transform;
}

